* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: initial;
}

*::selection {
    background: #30CEC2;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.clearfix {
    overflow: auto;
}

.cl-white {
    color: #fff;
}

.cl-turquoise {
    color: #30cec2;
}

.fs-16 {
    font-size: 16px;
}

.fs-26 {
    font-size: 26px;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}