* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Display;
}

*::selection {
    background: #30CEC2;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.clearfix {
    overflow: auto;
}

.cl-white {
    color: #fff;
}

.cl-turquoise {
    color: #30cec2;
}

.fs-18 {
    font-size: 18px;
}

.fs-28 {
    font-size: 28px;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.section__title {
    display: inline-block;
    position: relative;
}

.title__text {
    display: inline-block;
    font-size: 23px;
    background: #1a3b43;
    padding: 10px 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 10px;
    position: relative;
}

.title__text--first {
    margin-bottom: 10px;
}

.title__text::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/title-pattern.png");
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: -1;
    border-radius: 10px;
}

@media screen and (min-width: 345px) {
    .title__text {
        font-size: 26px;
    }
}

@media screen and (min-width: 475px) {
    .title__text {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .title__text {
        font-size: 54px;
    }
}