.main__counters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 20px 20px;
    display: none;
}

.container__number, .container__title {
    font-weight: 900;
    text-align: center;
}

.container__number {
    font-size: 10vw;
    color: #d8d8d8;
}

.container__title {
    font-size: 28px;
    color: #30cec2;
    position: relative;
    bottom: 20px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .main__counters {
        display: flex;
    }
}

@media screen and (min-width: 950px) {
    .container__title {
        font-size: 35px;
    }
}